{% extends "base.html" %}
{% block title %}About Me{% endblock %}
{% block content %}
    <h1>About Me 👋</h1>
    <div class="card">
        <h2>Makan</h2>
        <p>I started from zero and learned Git and Python in 46 days!</p>
        <br>
        <h3>My Skills</h3>
        <br>
        <span style="background:#e94560;padding:6px 16px;border-radius:20px;margin:5px;display:inline-block;">Git</span>
        <span style="background:#e94560;padding:6px 16px;border-radius:20px;margin:5px;display:inline-block;">Python</span>
        <span style="background:#e94560;padding:6px 16px;border-radius:20px;margin:5px;display:inline-block;">Flask</span>
        <span style="background:#e94560;padding:6px 16px;border-radius:20px;margin:5px;display:inline-block;">API</span>
        <span style="background:#e94560;padding:6px 16px;border-radius:20px;margin:5px;display:inline-block;">JSON</span>
        <span style="background:#e94560;padding:6px 16px;border-radius:20px;margin:5px;display:inline-block;">CSS</span>
    </div>
{% endblock %}