{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block content %}
    <h1>My Blog 📝</h1>
    <div class="card">
        <h3 style="color:#e94560;">Day 1-10: Learning Git</h3>
        <p style="color:#aaa;">Started from zero, learned commit, push, branch and merge.</p>
    </div>
    <div class="card">
        <h3 style="color:#e94560;">Day 11-20: Python Basics</h3>
        <p style="color:#aaa;">Built a calculator and notes app with file handling.</p>
    </div>
    <div class="card">
        <h3 style="color:#e94560;">Day 21-30: More Python</h3>
        <p style="color:#aaa;">Built unit converter and reminder app.</p>
    </div>
    <div class="card">
        <h3 style="color:#e94560;">Day 31-40: APIs</h3>
        <p style="color:#aaa;">Connected to weather and currency APIs.</p>
    </div>
    <div class="card">
        <h3 style="color:#e94560;">Day 41-50: Web Dev</h3>
        <p style="color:#aaa;">Built this website with Flask and deployed it online!</p>
    </div>
{% endblock %}